@import "header.scss";
@import "form/datepicker";
@import "form/form.scss";

.content {
  @extend .container;
}

menu {
  @include grid-col(12, 4, 3);
  margin-bottom: 10%;

  .tiltle_categ {
    @extend .align_center;
  }
  ul {
    @extend .none;
    @extend .align_center;
    li {
      font-family: inherit;
      font-size: 1.3em;
      border-top: 1px solid #ccc;
      border-bottom: none;
      margin-left: 0;
      border-radius: 6%;
      &:last-child {
        border-bottom: 1px solid #ccc;
      }

      a {
        color: #563d7c;
      }

      a:hover {
        font-size: 1.3em;
        color: black;
        font-weight: bolder;
        line-height: 1.2em;
      }

    }
  }
}

.colum_event {
  @include grid-col(12, 8, 6);
}

.blocEvent {
  @include grid-col(12, 12, 12);

  #blocRecherche {
    input[type=submit] {
      @extend .btn;
      @extend .green;
      font-size: 0.8em;
    }
    input {
      @include grid-col(12, 4, 4);
      &[type=text] {

      }
    }
  }

  .event {
    padding: 4px;
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    @extend .none;
    a img {
      padding: 1%;
      width: 100%;
    }

    .titleEvent {
      color: black;
      text-transform: capitalize;
      @include grid-col(12, 6, 6)

    }
    .date_event {
      @include grid-col(12, 6, 6);
      @extend .align_right;
    }
    .event_info {
      @extend .none;

      li {
        margin-left: 1%;
        margin-right: 1%;
      }
      .organisateur {
        @extend .align_left;
        @include grid-col(12, 6, 6);
      }

      .location {
        @extend .align_right;
        @include grid-col(12, 6, 6);
      }

      .description {
        @extend .align_left;
      }
    }

  }
}


#more, #moreSport{
  @include grid-off(2, 0, 3);
  @include grid-col(8, 9, 6);
  @extend .btn;
  @extend .raised;

  background-color: #cccccc;

  color: black;
  font-weight: 600;
  &:hover{
    color: black;
    font-size: 1.04em;
    background-color:#dadada;
  }
}

#more_container{
  margin-bottom: 1%;
}



