@import "framework/framework";
@import "form/datepicker.scss";

#appContainer {
  padding-top: 60px;
  @media screen and (max-width:773px){
      padding-top: 0.3em;
  }
}

nav {
  opacity: 0.97;

  @extend .navbar-default;
  ul:last-child {
    @extend .rigth-bar;

    a {
      .btn {
        margin-bottom: 0;
        font-size: 0.9em;
        text-transform: capitalize;
        color: #563d7c;
        font-weight: bolder;
        background-color: #fff;
        border-color: #ccc;

        &:hover{
          background-color: #563d7c;
          color: white;
        }

      }

    }

  }
  ul:first-child {
    @extend .left-bar;

  }

  @media screen and (min-width: 50em) {
    position: fixed;
    z-index: 1;
  }
}

.logo {
  img {
    height: 50px;
  }
}

