@import "../header";
@import "../form/form";

h1 {
  @include grid-col(12, 12, 12);
  text-align: center;
}

.visitorForm {
  @include grid-col(10, 4, 4);
  @include grid-off(1, 4, 4);

  .input-lg {
    @include grid-col(12, 12, 12);
  }

  #submitButton {
    text-align: center;
  }
}

#nb_participant {
  @include grid-col(12, 6, 6);
}

#add_visitor {
  @include grid-col(12, 6, 6);

  .btn {
    font-size: 0.85em;
  }
}

#next_container {
  margin-top: 10px;
}

#next {
  font-size: 0.85em;
}

.tittle{
  @extend .align_center;
  display: none;
}