{% extends "layout/app.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/sessions/create.css">
<title>Création d'une épreuve</title>
{% endblock %}


{% block content %}

<div class="container">
    <h1>Créer une épreuve</h1>
    <div class="row">
        {% import "layout/form.html" as forms %}
        {% include 'sessions/formCreate.html' %}
    </div>
</div>

{% endblock %}




{% block script %}

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

{% endblock %}
