{% block stylesheets %}
    <link rel="stylesheet" href="{{base_url()}}/css/sessions/create.css">
{% endblock %}


{% block content %}
    <form class="sessionForm" action="{{base_url()}}/sessions/add" method="post">
        <div>
            <div class="textInput">
                {{forms.label('Nom de l\'épreuve', 'sessionName')}}
                {{forms.input('sessionName', 'text', '', 'Nom de l\'épreuve', 'required')}}
            </div>
            <div class="textAreaInput">
                {{forms.label('Description', 'description')}}
                <textarea name="description" placeholder="Description" cols="20" rows="5"></textarea>
            </div>
            <div class="selectInput">
                <div class="hourLabel">
                {{forms.label('Heure de l\'Épreuve', 'hours')}}
                </div>

                    <select name="hours">
                        {% for i in 0..23 %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>

                <div class="hourSeparator">:</div>

                    <select name="minutes">
                        {% for i in 0..59 %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>

            </div>
            <div class="">
                <input type="hidden" name="eventId" value="{{eventId}}" />
            </div>
            <div id="submitButton">
                {{forms.buttonSubmit('green', 'Créer l\'épreuve')}}
            </div>
        </div>
    </form>
{% endblock %}