{% extends "layout/app.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/sessions/session.css">
<title>SportNet - Épreuve</title>
{% endblock %}

{% block content %}
<div class="content">
    <div id="title">
        <h1>{{sessionObject.name}}</h1>
        <h3 class="sub-title">{{sessionObject.date |date("d/m/Y à H:i")}}</h3>
    </div>

    <div id="description">
        <p><strong>Description :</strong> {{sessionObject.description}}</p>
    </div>
    <div id="buttonUser">
        {% if sessionObject.ParentEvent.registrable %}
        <a href="{{base_url}}/visitors/join/{{sessionObject.id}}"><input id="participerButton" type="button" value="Participer" /></a>
        {% endif %}
        <a href="{{base_url}}/events/display/{{sessionObject.event_id}}"><input id="returnToEvent" type="button" value="Retourner à l'Événement" /></a>
    </div>
    <ul class="tab">
        <li id="tab-1" class="active">Liste Participant</li>
        <li id="tab-2">Résultats {% if sessionObject.results_available == false %} <em>(Non disponibles)</em> {% endif %}</li>
    </ul>

    <div id="tab-content-1">
        <table>
            <thead>
            <tr>
                <th>N° Participant</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Âge</th>
            </tr>
            </thead>
            <tbody>

             {% for value in participations %}
                <tr>
                    <td>{{value.id}}</td>
                    <td>{{value.first_name}}</td>
                    <td>{{value.last_name}}</td>
                    <td>{{date().diff(date(value.birthdate)).y}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if user.id == sessionObject.ParentEvent.user_id %}
        <a href="/sessions/participants/{{sessionObject.id}}" download="Participants.csv"><input type="button" value="Télécharger la Liste" /></a>
        {% endif %}
    </div>
    <div id="tab-content-2" class="hidden-small hidden-medium hidden-large">
        {% if sessionObject.results_available %}
        <table class="search-table">
            <thead>
            <tr>
                <th>Position</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Résultat</th>
                <th>Numéro Participant</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
            <tr id="{{result[4]}}">
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
                <td class="numPar">{{result[4]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3><em>Les résultats de cette épreuve ne sont pas encore disponibles.</em></h3>
        {% endif %}
        {% if user.id == sessionObject.ParentEvent.user_id %}
        <div class="buttonBlock">
            {% if sessionObject.results_available == false %}
            <form method="post" action="/sessions/upload/{{sessionObject.id}}" enctype="multipart/form-data">
                <input type="file" name="resultsFile" class="resultUpload"/>
                <a href="#"><input type="submit" class="resultsButton" value="Publier les Résultats" /></a>
            </form>
            {% else %}
            <a href="{{base_url}}/csv/results-{{sessionObject.id}}.csv"><input type="button" value="Télécharger le fichier de Résultats"/></a>
            <a href="/sessions/results/hidden/{{sessionObject.id}}"><input type="button" class="btn red" value="Retirer la Publication des Résultats" /></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{base_url}}/js/changeTab.js"></script>
<script src="{{base_url}}/js/sessions/searchParticipant.js"></script>
<script>
    $(document).ready(function(){
        $('table.search-table').tableSearch({
            searchText:'Rechercher mon Résultat',
            searchPlaceHolder:'Numéro Participant'
        });
    });
</script>
<script>
    $(document).ready(function() {
        changeTab();
    });
</script>
{% endblock %}