{% if  session.slimFlash.success %}
    <div class="alert alert-success col-s-12"  style="margin-top: 2%;">
        <a href="" class="alert-close" data-dismiss="alert">×</a>
        {{ session.slimFlash.success.0  | raw }}
    </div>
{% endif %}

{% if  session.slimFlash.error %}
    <div class="alert alert-error col-lg-10 col-lg-offset-1" style="margin-top: 2%;">
        <a href="" class="alert-close" data-dismiss="alert">×</a>
        {{ session.slimFlash.error.0  | raw  }}
    </div>
{% endif %}
