{% extends "layout/app.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/visitor/visitor.css">
{% endblock %}


{% block content %}

<div class="container">
    <h1>Participer à une épreuve</h1>
    <div class="row">

        {% import "layout/form.html" as forms %}
        <div class="visitorForm">
            {% include 'visitors/formjoin.html' %}
        </div>

    </div>
</div>

{% endblock %}


{% block script %}
<script src="{{base_url()}}/js/dobPicker.min.js"></script>
<script src="{{base_url}}/js/addVisitor.js"></script>

{% endblock %}
