<h4 class="tittle">Participants <span id="current_nb_participant_tittle">1</span>/<span id="nb_participant_tittle"></span></h4>
<div>
{{forms.label('Nombres de participants', 'nb_participant')}}
{{forms.input('nb_participant', 'number', '1', '1', 'required')}}
</div>

<div id="add_visitor">
    <input type="submit" class="btn green raised" id="add_visitor_btn" value="Ajouter">
</div>


<form action="{{base_url()}}/visitors/join/{{idSession}}" id="form_visitor" method="post">
    <div>

    </div>
</form>