{% extends "layout/app.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/accueil.css">
<title>SportNet - Accueil</title>
{% endblock %}

{% import "layout/form.html" as forms %}

{% set montant = 0 %}
{% block content %}
<div class="content">
    <div class="row">
       <div class="col-lg-12">
        <h1>Récapitulatif de paiement</h1>
        <ul class="none">
            {% for participation in participations %}
            <li>{{participation.ParentVisitor.first_name}} {{participation.ParentVisitor.last_name}} : {{sessions.prix}}€</li>
            {% set montant = montant +  sessions.prix %}
            {% endfor %}
        </ul>
       </div>
        <h4>Montant final : {{montant}}€</h4>

        <form class="sessionForm btn-lg col-lg-4" action="{{base_url}}/visitors/pay/{{sessions.id}}" method="post">
            {{forms.buttonSubmit('green', 'Payer')}}
        </form>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}