@import "../form/datepicker";
@import "../header.scss";
@import "../form/form";

h1{
    @include grid-col(12,12,12);
    text-align: center;
}
.sessionForm{
    @include grid-col(10,4,4);
    @include grid-off(1,4,4);
    .textInput input, .textAreaInput textarea {
        @include grid-col(12,12,12);
    }
    
    .textAreaInput textarea {
        height: 120px;
    }
    
    .selectInput {
        select {
            @include grid-col(5, 5, 5);
        }
        
        div {
            &.hourSeparator {
                @include grid-col(2, 2, 2);
                text-align: center;
            }
        
            &.hourLabel {
                @include grid-col(12, 12, 12);
            }    
        }
    }
    
    #submitButton{
        @include grid-col(12, 12, 12);
        text-align: center;
    }
}