@import "../header.scss";

h1, h3 {
    text-align: center;
    color: black;
    text-transform: capitalize;
}

#description {
    @include grid-col(12, 10, 10);
    @include grid-off(0, 1, 1);
}

#participerButton {
    @include grid-col(6, 2, 2);
    @extend .btn;
    @extend .green;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.9em;
    
    margin-bottom: 10px;
}

#returnToEvent{
    @include grid-col(6, 2, 2);
    @extend .btn;
    @extend .orange;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

#buttonUser {
    @include grid-col(12, 12, 12);
    @include grid-off(0, 4, 4);
}

.tab {
    @include grid-col(12, 12, 12);
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    
    li {
        @include grid-col(6, 6, 6);
        list-style: none;
        padding: 10px;
        margin: 0;
        cursor: pointer;
        
        a {
            display: inline-block;
            color: black;
            text-align: center;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }
        
        &.active {
            background-color: #ccc;
        }
    }
}

div#tab-content-1, div#tab-content-2 {
    @include grid-col(12, 12, 12);
    border: 1px solid #ccc;
    
    input[type=button] {
        @include grid-col(12, 12, 12);
        @extend .btn;
        @extend .raised;

        background-color: #cccccc;

        color: black;
        font-weight: 600;
        &:hover{
            color: black;
            font-size: 1.04em;
            background-color:#dadada;
        }
        @extend .btn-xlg;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .resultsButton {
        @include grid-col(12, 12, 12);
        @extend .btn;
        @extend .raised;

        background-color: #cccccc;

        color: black;
        font-weight: 600;
        &:hover {
            color: black;
            font-size: 1.04em;
            background-color: #dadada;
        }
        
    }
    
    .more {
        @include grid-col(12, 4, 4);
        @include grid-off(0, 4, 4);
    }
    
    table {
        @include grid-col(12, 12, 12);
    }
    
    animation: fadeEffect 0.3s; 
    
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
    
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }   
}

.resultUpload {
    @include grid-col(6, 6, 6);
    margin-top: 10px;
}

input[type=file].resultUpload {
    
}

label {
  display: block;
  padding-bottom: 0.25em;
}

.search {
  display: block;
  font-size: 1em;
  padding: 0.25em;
  width: 100%;
  margin-bottom: 0.6em;
  border-radius: 3px;
  border: 1px solid #BABABA;
}

input[type="checkbox"] {
  @include grid-col(1, 1, 1);
  a:active {
    outline: none;
  }
}

#description{
    text-align: center;
}
