@import "../header.scss";
@import "../form/form.scss";

h1{
    @include grid-col(12,12,12);
    text-align: center;
}
.logForm{
    @include grid-col(10,4,4);
    @include grid-off(1,4,4);
    .textInput input {
        @include grid-col(12,12,12);
    }
    
    #submitButton{
        text-align: center;
    }

    #submitButton{
        margin-top: 15px;
    }
}

.remember_pwd{
    @include grid-col(12,8,5);
    @include grid-off(0,2,4);
}
.remember{
    @include grid-col(12,8,5);
    @include grid-off(0,2,4);
}