@import "../header.scss";
@import "../form/form";

h1 {
    text-align: center;
}

#reminder-form{
    margin-top: 2em;
    @include grid-col(10,4,4);
    @include grid-off(1,4,4);
    input {
        @include grid-col(12,12,12);
        @include grid-off(0,0,0);
        text-align: center;
        &[type=submit]{
            @extend .btn;
            @extend .blue;
        }
    }
}