{% extends "layout/app.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/accueil.css">
<title>SportNet - Accueil</title>
{% endblock %}


{% block content %}
<div class="content">
    <div id="banner">
        <!--Inserer Banniere-->
    </div>

    <div class="row">

        <div class="blocEvent">
            <div class="row">

                <menu class="">
                    <h3 class="tiltle_categ">Catégories </h3>
                    <ul class="categ">
                        {% for key, sport in sports %}
                        <li><a href="{{base_url}}/sport/{{sport.id}}">{{sport.name}}</a></li>
                        {% endfor %}
                    </ul>
                </menu>

                <div class="colum_event">
                    <h3>{{title}}</h3>

                    {% for key,value in events %}
                    <div class="event" data-id="{{value.id}}" sport-id="{{sport.id}}">
                        <h4><a class="titleEvent" href="{{base_url()}}/events/display/{{value.id}}">{{value.name}}</a>
                        </h4>
                        <span class="date_event">{{value.date |date("d/m/Y") }}</span>
                        <a href="{{base_url()}}/events/display/{{value.id}}"><img src="{{base_url}}/images/events/{{value.id}}.jpg" alt=""></a>
                        <ul class="event_info">
                            <li class="organisateur">Organisateur:
                                <a href="{{base_url}}/profil/{{value.parent_owner.id}}">
                                    {{value.parent_owner.first_name}} {{value.parent_owner.last_name}}
                                </a>
                            </li>
                            <li class="location">Lieu: {{value.location}}</li>
                            <li>Discipline: {{value.sport.name}}</li>
                            <li class="description">Description: {{value.description}}</li>
                        </ul>
                    </div>
                    {% endfor %}

                </div>
                <div id="more_container">
                    {% if sport %}
                        <input type="button"  id="moreSport" value="Voir plus">
                    {% else %}
                        <input type="button"  id="more" value="Voir plus">
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{base_url()}}/js/index/scroll.js"></script>
{% endblock %}



