<form class="logForm" action="{{base_url()}}/auth/login" method="post">
    <div>
        <div class="textInput">
            {{forms.label('Email', 'email')}}
            {{forms.input('email', 'email', '', 'Email adress', 'required')}}
        </div>

        <div class="textInput">
            {{forms.label('Mot de passe', 'password')}}
            {{forms.input('password', 'password', '', 'Mot de passe', 'required')}}
        </div>

        <div class="remember">
            {{forms.checkbox('remember')}}
            {{forms.label('Se souvenir de moi', 'remember')}}
         </div>
        <a class="remember_pwd" href="{{base_url}}/auth/reminder">Mot de passe oublié ?</a>

        <div id="submitButton">
            {{forms.buttonSubmit('green', 'Se connecter')}}
        </div>

    </div>
</form>