<form class="logForm" action="{{base_url()}}/auth/register" method="post">
    <div>
        <div class="textInput">
            {{forms.label('Email', 'email')}}
            {{forms.input('email', 'email', '', 'Email adress', 'required')}}
        </div>
        <div class="textInput">
            {{forms.label('Prenom', 'first_name')}}
            {{forms.input('first_name', 'text', '', 'First name')}}
        </div>
        <div class="textInput">
            {{forms.label('Nom', 'last_name')}}
            {{forms.input('last_name','text', '','Last name')}}

        </div>

        <div class="textInput">
            {{forms.label('Mot de passe', 'password')}}
            {{forms.input('password', 'password', '', 'Mot de passe', 'required')}}
        </div>

        <div class="textInput">
            {{forms.label('Confirmation mot de passe', 'confirm_password')}}
            {{forms.input('confirm_password', 'password','','Confirmation mot de passe', 'required')}}
        </div>

        <div class="textInput">
            <label for="birthDate">Date de Naissance</label>
            <select name="jour" class="dobday"></select>
            <select name="mois" class="dobmonth"></select>
            <select name="annee" class="dobyear"></select>
        </div>

        <div id="submitButton">
          {{forms.buttonSubmit('green', 'Créer mon compte')}}
        </div>


    </div>
</form>

