{% extends "layout/app.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/auth/auth.css">
<title>SportNet - Connexion</title>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Connexion</h1>

        {% import "layout/form.html" as forms %}
        {% include 'auth/formlogin.html' %}

    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}
