{% extends "layout/app.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/auth/auth.css">
<title>SportNet - S'inscrire</title>
{% endblock %}


{% block content %}


<div class="container">
    <h1>Inscription</h1>


    <div class="row">
        {% import "layout/form.html" as forms %}
        {% include 'auth/formRegister.html' %}
    </div>
</div>

{% endblock %}


{% block script %}

<script src="{{base_url()}}/js/dobPicker.min.js"></script>
<script>
    $.dobPicker({
        daySelector: '.dobday', /* Required */
        monthSelector: '.dobmonth', /* Required */
        yearSelector: '.dobyear', /* Required */
        dayDefault: 'Day', /* Optional */
        monthDefault: 'Month', /* Optional */
        yearDefault: 'Year', /* Optional */
        minimumAge: 12, /* Optional */
        maximumAge: 80 /* Optional */
    });

</script>

{% endblock %}
