{% extends 'layout/app.html' %}
{% import "layout/form.html" as forms %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/auth/reminder.css"/>
<title>SportNet - Changement de mot de passe</title>
{% endblock %}

{% block content %}

<a class="btn-lg btn-primary" href="{{base_url()}}/auth" aria-label="Left Align"
   style="position: absolute;top: 10px; left: 10px;">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</a>

<div class="container">
    <h1>Changement de mot de passe</h1>
    <div class="row">
        <form id="reminder-form" action="{{base_url()}}/auth/reminder/{{user_reminder.reminder}}/{{user_reminder.id}}" method="post"
              role="form">
            <h4>Entrez votre nouveau mot de passe</h4>
            <div>
                    <div class="textInput">
                    {{forms.input('password', 'password', '', 'Mot de passe', 'required')}}
                </div>

                <div class="textInput">
                    {{forms.input('confirm_password', 'password','','Confirmation mot de passe', 'required')}}
                </div>

                <div id="submitButton">
                    {{forms.buttonSubmit('green', 'Changer mon mot de passe')}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}