{% extends 'layout/app.html' %}
{% import "layout/form.html" as forms %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url}}/css/auth/reminder.css">
{% endblock %}

{% block content %}
<a class="btn-lg btn-primary" href="{{base_url()}}/auth" aria-label="Left Align"
   style="position: absolute;top: 10px; left: 10px;">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</a>

<div class="container">
    <div class="row">
        <h1>Oubli de mot de passe</h1>
        <form id="reminder-form" action="{{base_url()}}/auth/reminder" method="post" role="form"
              style="...">
               <h6>Veuillez entrer votre adresse mail</h6>
                <div class="">
                    {{forms.input('email', 'email', '', 'Email')}}
                </div>

                <div class="">
                    {{forms.buttonSubmit('green', 'Rerchercher')}}
                </div>
        </form>
    </div>
</div>


{% endblock %}