@import "../header";

label {
  display: block;
  padding-bottom: 0.25em;
}

input , textarea{
  display: block;
  font-size: 1em;
  padding: 0.25em;
  width: 100%;
  margin-bottom: 0.6em;
  border-radius: 3px;
  border: 1px solid #BABABA;
}

input[type="checkbox"] {
  @include grid-col(1, 1, 1);
  a:active {
    outline: none;
  }
}

