@import "../header.scss";
@import "../form/form";

.content {
  @extend .container;
  #title {
    text-align: center;
    h1 {
      display: inline-block;
      margin-right: .2em;
    }
  }
  .profilData {
    @include grid-col(12, 12, 12);
    @extend .row;
    .profilPicture {
      @include grid-col(12, 2, 2);
      img {
        width: 100%;
        @media screen and (max-width: 48.1em) {
          margin-left: 30%;
          width: 40%;
        }
      }
    }

    .profilInformations {
      @extend .align_left;
      h2 {
        @extend .align_left;

        a {
          font-size: 0.5em;
        }
      }

      p {
        @extend .align_left;
      }

      .description {
        @extend .align_left;
        @include grid-col(12,12,12)
      }

      @media screen and (max-width: 48.1em) {
        h2 {
          text-align: center;
        }
      }
    }
  }

  .searchEvent {
    @include grid-col(12, 2, 2);
    h3 {
      text-align: center;
    }
    input {
      width: 100%;
      text-align: center;
    }
    #searchButton {
      @extend .btn;

    }
  }

  .blocListEvents {

    margin-top: 1%;
    #createEventButton {
      @extend .btn;
      @extend .blue;
      margin-left: 1%;
    }
    h2 {
      margin-left: 1%;
    }

    @include grid-col(12, 12, 12);
    .blocEvent {
      margin-top: 1%;
      margin-left: 0;
      padding: 4px;
      margin-bottom: 21px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: border 0.2s ease-in-out;
      -o-transition: border 0.2s ease-in-out;
      transition: border 0.2s ease-in-out;

      @include grid-col(12, 6, 6);
      img {
        width: 100%;
      }
      .detailButton {
        @extend .btn;
        @extend .green;
        font-size: .9em;
      }
    }

  }
}

#more {
  @include grid-off(2, 0, 3);
  @include grid-col(8, 9, 6);
  @extend .btn;
  @extend .raised;

  color: black;
  font-weight: 600;
  background-color: #cccccc;

  &:hover {
    color: black;
    font-size: 1.04em;
    background-color: #dadada;
  }
}

.event_info {
  @extend .none;

  li {
    margin-left: 1%;
    margin-right: 1%;
  }
  .organisateur {
    @extend .align_left;
    @include grid-col(12, 6, 6);
  }

  .location {
    @extend .align_left;
    @include grid-col(12, 12, 12);
  }

  .description {
    @extend .align_left;
  }
}

.titleEvent {
  color: black;
}

.blocEvent {
  @include grid-col(12, 12, 12);

  #blocRecherche {
    input[type=submit] {
      @extend .btn;
      @extend .green;
      font-size: 0.8em;
    }
    input {
      @include grid-col(12, 4, 4);
      &[type=text] {

      }
    }
  }

  .date_event {
    @include grid-col(12, 6, 6);
    @extend .align_right;
  }

  .titleEvent {
    color: black;
    text-transform: capitalize;
    @include grid-col(12, 6, 6)

  }

  .blocEvent {
    padding: 4px;
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    @extend .none;
    a img {
      padding: 1%;
      width: 100%;
    }

  }
}

.sport {

  @include grid-col(12, 5, 6);
  @extend .align_left;
}

.details {
  margin-top: 5px;
  @include grid-col(12, 3, 3);
  @extend .align_right;
}

.supprimer{
  margin-top: 5px;
  @include grid-col(12, 4, 3);
  @extend .align_right;
}
.modifProfilForm {
  @include grid-col(10,4,4);
  @include grid-off(1,4,4);
  .textInput{
    input, textArea{
      @include grid-col(12,12,12);
    }

    textArea{
      @extend input;
      height : 5em;
    }
  }
  .pictureInput input {
    border: none;
  }

}

