@import "../form/datepicker";
@import "../header";
@import "../form/form";

h1{
    @include grid-col(12,12,12);
    text-align: center;
}
.eventForm{
    @include grid-col(10,4,4);
    @include grid-off(1,4,4);
    .textInput input, .selectInput select, .textAreaInput textarea {
        @include grid-col(12,12,12);
    }
    
    .textAreaInput textarea {
        height: 120px;
    }
    
    .checkboxInput .checkbox {
        @include grid-col(6, 6, 6);
    }

    .uploadInput input{
        border: none;
    }
    
    #submitButton{
        text-align: center;
    }
}