@import "../header.scss";

.content {
  @extend .container;
}

#title {
  @include grid-col(10, 10, 10);
  @include grid-off(1, 1, 1);
  text-align: center;
  :first-child {
    text-transform: capitalize;
  }
}

.blocButton {
  @include grid-col(10, 10, 10);
  @include grid-off(1, 1, 1);

  #addSession{
    @include grid-off(2,3,3);
    @include grid-col(8,6,6);
    margin-bottom: .4em;
  }

  #closeRegister, #endPublicate, #beginPublication, #deleteEvent{
    @include grid-col(6,2,2);
    @include grid-off(3,0,0);
    margin-bottom: .4em;
    font-size: 0.8em;
    padding-left: 0px;
    padding-right: 0px;
  }

  #closeRegister {
    @extend .yellow;
    @include grid-off(3,3,3);
  }

  #endPublicate {
    @extend .red;
  }

  #beginPublication {
    @extend .blue;
  }

  #deleteEvent {
    @extend .red;

  }

  a input {
    @include grid-col(12, 4, 4);
    @extend .btn;
    @extend .green;
  }

}

h2 {
  @extend .row;
  text-align: center;
}

#listeEpreuves {
  @include grid-col(10, 10, 10);
  @include grid-off(1, 1, 1);

  .epreuve {
    @include grid-col(6, 6, 6);
    padding: 4px;
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    @extend .none;


    #participButton {
      @extend .btn;
      @extend .green;
    }

    #detailButton {
      @extend .btn;
      @extend .orange;
    }

    #removeSessionButton {
      @extend .btn;
      @extend .red;
    }
  }
}

.title_event {
  @include grid-col(12, 6, 6);
  @extend .align_left;
  text-transform: capitalize;
}

.date_event {
  @include grid-col(12, 6, 6);
  @extend .align_right
}

.description{
  @include grid-col(12, 12, 12);
  @extend  .align_left;
}

.blockButton{
  @include grid-col(12, 12, 12);
}