<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'layout/head.html'%}

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
{% include 'layout/header.html' %}

    <div id="appContainer">
    {% include 'flashMessage/flash.html' %}

    {% block content %}
    {% endblock %}
    </div>


{% include 'layout/script.html' %}

{% block script %}

{% endblock %}



</body>
</html>