{% macro input(name, type, value, placeholder, required) %}
<input type="{{ type|default('text') }}" id="{{name}}" name="{{ name }}" value="{{ value|e }}" placeholder="{{ placeholder }}"
      {{required}}/>
{% endmacro %}

{% macro buttonSubmit(class, value) %}
<input type="submit" class="btn {{class}} raised" value="{{value}}">
{% endmacro %}

{% macro checkbox(name) %}
<input type="checkbox" class="" name="{{name}}">
{% endmacro %}

{% macro label(name, ref) %}
<label for="{{ ref }}"> {{name}}</label>
{% endmacro %}

{% macro inputFile(name, label, required) %}
<label for="{{ name }}">{{ label }}</label>
<input type="file" name="{{ name }}" {{required}}>
{% endmacro %}

{% macro textArea(name, placeholder, value) %}
<textarea name="{{ name }}" placeholder="{{ placeholder }}" class="form-control" rows="2">{{ value|raw }}</textarea>
{% endmacro %}

