<header>
        <nav>
            <ul>
                <li><a class="logo" href="/"><img src="{{base_url}}/images/logo.png" alt="Logo de SportNet" /></a></li>
            </ul>
            <ul class="">
                <li><a href="/">Accueil</a></li>

                {% if user %}
                        <li><a href="{{base_url}}/profil/me">Mon Compte</a></li>
                {% else %}
                    <li><a href="{{base_url}}/auth/register">Inscription</a></li>
                {% endif %}

                {% if  session %}

                    <li><a href=""></a></li>
                {% endif %}
            </ul>
            <ul>
                    {% if user %}
                <li> <a href="{{base_url}}/events/create"><input class="btn blue"  type="button" value="Créer un Événement" /></a></li>
                <li> <a href="{{base_url}}/auth/logout"><input class="btn blue"  type="button" value="Déconnexion" /></a></li>
                    {% else %}
                <li> <a href="{{base_url}}/auth/login"><input  type="button" class="btn blue" value="Connexion" /></a></li>
                    {% endif %}
            </ul>
        </nav>

</header>