{% extends "/layout/app.html" %}
{% import "layout/form.html" as forms %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/user/profil.css">
<title>SportNet - Mon Compte</title>
{% endblock %}


{% block content %}

<div class="content">
    <div id="">
        <div class="profilData" data-id="{{profil.id}}">
            <div class="profilPicture">
                <img src="{{base_url}}/images/profils/{{ profil.profilePicturePath }}" alt="Photo de profil"/>
            </div>
            <div class="profilInformations">
                <h2>{{ profil.first_name }} {{ profil.last_name }} {% if owner %}<a href="/profil/update">(Modifier)</a>
                    {% endif %}</h2></div>
            <p>Événements crées: {{ nbEvents }}, Événement disponibles: {{ nbEventsDispo }}</p>
            <div class="description">
                <h3>Description :</h3>
                <p>{{ profil.description|raw }}</p>
            </div>
        </div>
    </div>

    <div class="blocListEvents">
        <h2>Mes événements</h2>

        {% if owner %}
        <a href="/events/create"><input type="button" value="Créer un événement" id="createEventButton"/></a>
        {% endif %}

        <div class="listEvents">

            {% for event in events %}
            <div class="blocEvent" data-id="{{event.id}}">
                <h3><a class="titleEvent" href="{{base_url()}}/events/display/{{event.id}}">{{event.name}}</a></h3>
                <span class="date_event">{{ event.date |date ("d/m/Y")}}</span>
                <div class="imageEvent"><img src="{{ base_url }}/images/events/{{ event.id }}.jpg" alt="Photo de l'événement"/></div>
                <ul class="event_info">
                <li class="organisateur">Organisateur : <a href="{{base_url()}}/profil/{{profil.id}}">{{profil.last_name}} {{profil.first_name}}</a></li>
                <li  class="location">Lieux : {{ event.location }}</li>
                <li class="sport">Sport: {{ sports[event.id] }}</li>
                    <li class="description">Description: {{ event.description }}</li>

                    <li class="details"><a  href="{{base_url}}/events/display/{{ event.id }}"><input type="button" value="Détails" class="detailButton"/></a></li>
                    {% if owner %}
                        <li class="supprimer"><a  href="{{base_url}}/events/remove/{{ event.id }}"><input type="button" value="Supprimer" class="btn red"/></a></li>
                    {% endif%}
                </ul>
            </div>
            {% endfor %}

        </div>
    </div>

    <div id="more_container">
        <input type="button" id="more" value="Voir plus">
    </div>
</div>

{% endblock %}


{% block script %}
<script src="{{base_url}}/js/profil/profil.js"></script>
{% endblock %}
