{% extends "/layout/app.html" %}
{% import "layout/form.html" as forms %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/user/profil.css">
<title>SportNet - Édition de profil</title>
{% endblock %}



{% block content %}

<div class="content">
    <div class="modifProfilForm">
        <h1>Édition du profil</h1>
        <form action="/profil/update" method="POST" enctype="multipart/form-data">

            <div class="textInput">
                {{forms.label('Nom', 'last_name')}}
                {{forms.input('last_name', 'last_name', user.last_name , 'Nom')}}
            </div>
            <div class="textInput">
                {{forms.label('Prénom', 'first_name')}}
                {{forms.input('first_name', 'first_name', user.first_name , 'Prénom')}}
            </div>
            <div class="textInput">
                {{forms.label('Ancien mot de passe', 'oldPassword')}}
                {{forms.input('oldPassword','password' , '', 'Mot de passe')}}
            </div>

            <div class="textInput">
                {{forms.label('Nouveau mot de passe', 'newPassword')}}
                {{forms.input('newPassword','password' , '','Mot de passe')}}
            </div>

            <div class="textInput">
                {{forms.label('Nouveau mot de passe (vérification)', 'newPasswordVerif')}}
                {{forms.input('newPasswordVerif','password' , '', 'Mot de passe')}}
            </div>

            <div class="textInput">
                {{forms.label('Description', 'description')}}
                {{forms.textArea('description', 'Description', user.description)}}
            </div>

            <div class="pictureInput">
                {{forms.label('Changer de photo de profil', 'pictureInput')}}
                <input type="file" name="pictureInput" value=""/>
            </div>

            <div id="submitButton">
                {{forms.buttonSubmit('green', 'Modifier')}}
            </div>
        </form>
    </div>
</div>

{% endblock %}




{% block script %}
<script src="{{base_url()}}/js/dobPicker.min.js"></script>
{% endblock %}
