{% extends "layout/app.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{base_url()}}/css/events/create.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Créer un Événement</h1>
        {% import "layout/form.html" as forms %}
        {% include 'events/formCreate.html' %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
{% endblock %}
