{% extends "/layout/app.html" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{base_url()}}/css/events/event.css">
    <title>SportNet - {{ event.name }}</title>
{% endblock %}


{% block content %}
    <div class="content">
        <div id="title">
            <h1>{{ event.name }}</h1>
            <h3 class="sub-title">{{ event.location }}</h3>
            <h4 class="sub-title">{{ event.date|date("d/m/Y") }}</h4>
        </div>

        <h2><br>Les Épreuves</h2>
        {% if user.id == event.user_id %}
        <div class="blocButton">
            <a href="{{ base_url }}/sessions/create/{{ event.id }}"><input id="addSession" type="button" value="Ajouter une Épreuve" /></a>
            {% if event.registrable %}
                <a href="{{base_url}}/events/close/{{event.id}}"><input id="closeRegister" type="button" value="Fermer Inscriptions" /></a>
            {% else %}
                <a href="{{base_url}}/events/open/{{event.id}}"><input id="closeRegister" type="button" value="Ouvrir Inscriptions" /></a>
            {% endif %}
            {% if event.validated %}
                 <a href="{{ base_url }}/events/public/{{ event.id }}"><input id="endPublicate" type="button" value="Dépublier l'événement" /></a>
            {% else %}
                 <a href="{{ base_url }}/events/public/{{ event.id }}"><input id="beginPublication" type="button" value="Publier l'événement" /></a>
            {% endif %}
            <a href="{{ base_url }}/events/remove/{{ event.id }}"><input id="deleteEvent" type="button" value="Supprimer l'Événement" /></a>
        </div>
        {% endif %}

        <div id="listeEpreuves">

            {% for session in sessions %}
                <div class="epreuve">
                    <h3 class="title_event">{{ session.name }}</h3>
                    <h5 class="date_event">{{ session.date |date("d/m/Y")}} - {{ session.date |date("H:i")}}</h5>

                    <p class="description"><strong>Description :</strong> {{ session.description }}</p>
                    <p class="description"><strong>Nombre de participants :</strong> {{ countTab[session.id] }}</p>
                    <p><strong></strong></p>
                    <div class="blockButton">
                        {% if not session.already_joined and event.registrable and (user.id != event.user_id) %}
                            <a href="{{base_url}}/visitors/join/{{session.id}}"><input id="participButton" type="button" value="Participer" /></a>
                        {% endif %}
                        <a href="{{base_url()}}/sessions/display/{{session.id}}"><input id="detailButton" type="button" value="Détails" /></a>
                        {% if event.user_id == user.id %}
                        <a href="{{base_url()}}/sessions/remove/{{session.id}}"><input id="removeSessionButton" type="button" value="Supprimer" /></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}




{% block script %}
{% endblock %}