<form class="eventForm" action="{{base_url()}}/events/add" method="post" enctype="multipart/form-data">
    <div>
        <div class="textInput">
            {{forms.label('Nom', 'eventName')}}
            {{forms.input('eventName', 'text', '', 'Nom', 'required')}}
        </div>
        <div class="textInput">
            {{forms.label('Date', 'eventDate')}}
            <input type="text" id="datepicker" name="eventDate" placeholder="Date">
        </div>
        <div class="textInput">
            {{forms.label('Lieu', 'location')}}
            {{forms.input('location','text', '','Lieu', 'required')}}

        </div>
        <div class="selectInput">
            {{forms.label('Sport', 'sport')}}
            <select name="sport">
                {% for sport in sports %}
                    <option value="{{sport.id}}" selected>{{sport.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="uploadInput">
            {{forms.label('Photo', 'picture')}}
            <input type="file" name="picture">
        </div>
        <div class="textAreaInput">
            {{forms.label('Description', 'description')}}
            {{forms.textArea('description', 'Description')}}
        </div>
        <div class="checkboxInput">
            <div class="checkbox">
            {{forms.label('Publié', 'validated')}}
            {{forms.input('validated', 'checkbox', 'true', '', 'required')}}
            </div>
            <div class="checkbox">
            {{forms.label('Inscriptions ouvertes', 'registrable')}}
            {{forms.input('registrable', 'checkbox', 'true', '', 'required')}}
            </div>
        </div>
        <div id="submitButton">
          {{forms.buttonSubmit('green', 'Créer cet Événement')}}
        </div>
    </div>
</form>